<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
      <app-progresso [progress]="progres" ></app-progresso>
      </div>

      <div class="col-sm-6">
        <app-tentativas></app-tentativas>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h6>{{instruction}}</h6>
        <p>{{roundPhrase.phraseEng}}</p>
        <p>{{response}}</p>

        <div class="form-group">
          <textarea
            class="form-control"
            rows="3"
            (input)="updateResponse($event)"
            ></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="d-flex flex-row-reverse">
          <button
            type="button"
            class="btn btn-primary"
            (click)="verifyResponse()" >Verify</button>
        </div>
      </div>
    </div>
  </div>
</div>
